<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.ms.hermes.dao.CustomerDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.clsaa.ms.hermes.entity.po.Customer">
    <id column="id" property="id"/>
    <id column="type" property="type"/>
    <id column="name" property="name"/>
    <id column="age" property="age"/>
    <id column="birthday" property="birthday"/>
    <id column="gender" property="gender"/>
    <id column="mobile" property="mobile"/>
    <id column="email" property="email"/>
    <id column="wechat" property="wechat"/>
    <id column="qq" property="qq"/>
    <id column="note" property="note"/>
    <id column="ctime" property="ctime"/>
    <id column="cuser" property="cuser"/>
    <id column="mtime" property="mtime"/>
    <id column="muser" property="muser"/>
    <id column="status" property="status"/>
  </resultMap>

  <select id="getById" resultMap="BaseResultMap">
    SELECT *
    FROM `t_customer`
    WHERE `id` = #{id}
  </select>

  <select id="getByMobile" resultMap="BaseResultMap">
    SELECT *
    FROM `t_customer`
    WHERE `mobile` = #{mobile}
  </select>

  <insert id="add">
    INSERT INTO `t_customer` (`id`, `type`, `name`, `age`, `birthday`, `gender`, `mobile`, `email`, `wechat`, `qq`, `note`,
                              `ctime`, `cuser`, `mtime`, `muser`, `status`)
    VALUES (#{id}, #{type}, #{name}, #{age}, #{birthday}, #{gender}, #{mobile}, #{email}, #{wechat}, #{qq}, #{note},
            current_timestamp, #{cuser}, current_timestamp, #{muser}, #{status});
  </insert>

  <update id="update">
    UPDATE `t_customer`
    SET
      `type`     = #{type},
      `name`     = #{name},
      `age`      = #{age},
      `birthday` = #{birthday},
      `gender`   = #{gender},
      `mobile`   = #{mobile},
      `email`    = #{email},
      `wechat`   = #{wechat},
      `qq`       = #{qq},
      `note`     = #{note},
      `mtime`    = current_timestamp,
      `muser`    = #{muser},
      `status`   = #{status}
    WHERE
      `id` = #{id}
  </update>

  <select id="getPaginationCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM `t_customer`
    WHERE 1=1
    <if test="type!=null">
      AND `type` = #{type}
    </if>
    <if test="gender!=null">
      AND `gender` = #{gender}
    </if>
    <if test="keyword!=null">
      AND (`mobile` = #{keyword} OR `name` = #{keyword})
    </if>
  </select>

  <select id="getPaginationList" resultMap="BaseResultMap">
    SELECT COUNT(*)
    FROM `t_customer`
    WHERE 1=1
    <if test="type!=null">
      AND `type` = #{type}
    </if>
    <if test="gender!=null">
      AND `gender` = #{gender}
    </if>
    <if test="keyword!=null">
      AND (`mobile` = #{keyword} OR `name` = #{keyword})
    </if>
    ORDER BY `mtime` DESC
    LIMIT #{rowOffset},#{pageSize}
  </select>


</mapper>
