<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.ms.hermes.dao.PlanDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.clsaa.ms.hermes.entity.po.Plan">
    <id column="id" property="id"/>
    <id column="type" property="type"/>
    <id column="important" property="important"/>
    <id column="urgent" property="urgent"/>
    <id column="note" property="note"/>
    <id column="begin_time" property="beginTime"/>
    <id column="end_time" property="endTime"/>
    <id column="finish_time" property="finishTime"/>
    <id column="ctime" property="ctime"/>
    <id column="cuser" property="cuser"/>
    <id column="mtime" property="mtime"/>
    <id column="muser" property="muser"/>
    <id column="status" property="status"/>
  </resultMap>

  <select id="getById" resultMap="BaseResultMap">
    SELECT *
    FROM `t_plan`
    WHERE `id` = #{id}
  </select>

  <insert id="add">
    INSERT INTO `t_plan` (`id`, `type`, `important`, `urgent`, `note`, `begin_time`, `end_time`,
                          `ctime`, `cuser`, `mtime`, `muser`, `status`)
    VALUES (#{id}, #{type}, #{important}, #{urgent}, #{note}, #{beginTime}, #{endTime},
                   current_timestamp, #{cuser}, current_timestamp, #{muser}, #{status});
  </insert>

  <delete id="updateStatus">
    UPDATE `t_plan`
    SET
      `status` = #{statusTo},
      `mtime`  = current_timestamp,
      `muser`  = #{muser}
    WHERE `id` = #{id}
  </delete>

  <select id="getPaginationCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM `t_plan`
    WHERE `status` != 0
    AND `cuser` = #{cuser}
    <if test="type!=null">
      AND `type` = #{type}
    </if>
    <if test="important!=null">
      AND `important` = #{important}
    </if>
    <if test="urgent!=null">
      AND `urgent` = #{urgent}
    </if>
    <if test="status!=null">
      AND `status` = #{status}
    </if>
  </select>
  <select id="getPagination" resultMap="BaseResultMap">
    SELECT *
    FROM `t_plan`
    WHERE `status` != 0
    AND `cuser` = #{cuser}
    <if test="type!=null">
      AND `type` = #{type}
    </if>
    <if test="important!=null">
      AND `important` = #{important}
    </if>
    <if test="urgent!=null">
      AND `urgent` = #{urgent}
    </if>
    <if test="status!=null">
      AND `status` = #{status}
    </if>
    ORDER BY (`status` = 1 AND current_timestamp > `end_time`) DESC,(`status` = 1) DESC, `end_time` DESC
    LIMIT #{rowOffset},#{pageSize}
  </select>


</mapper>
