<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.ms.hermes.dao.WordOrderDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.clsaa.ms.hermes.entity.po.WorkOrder">
    <id column="id" property="id"/>
    <id column="customerId" property="customerId"/>
    <id column="dutyStaffId" property="dutyStaffId"/>
    <id column="code" property="code"/>
    <id column="title" property="title"/>
    <id column="type" property="type"/>
    <id column="description" property="description"/>
    <id column="receiveMsgType" property="receiveMsgType"/>
    <id column="callbackType" property="callbackType"/>
    <id column="callbackBeginTime" property="callbackBeginTime"/>
    <id column="callbackEndTime" property="callbackEndTime"/>
    <id column="finishTime" property="finishTime"/>
    <id column="ctime" property="ctime"/>
    <id column="cuser" property="cuser"/>
    <id column="mtime" property="mtime"/>
    <id column="muser" property="muser"/>
    <id column="status" property="status"/>
  </resultMap>

</mapper>
